*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ol, ul {
  list-style-type: none;
}

a{
  text-decoration: none;
  color: unset;
}

button {
  border: 0;
  background-color: unset;
  cursor: pointer;
}

table {
border-collapse: collapse;
border-spacing: 0;
}

input {
  border: none;
}

/* Core */

:root {
  --white: #fff;
  --gray: #888;
  --dark-gray: #444;
  --honeydew: #e2f8ed;
  --gunmetal: #1d2f36;
  --red: #dc0000;
  --orange: rgb(255, 60, 32);

  --aquamarine: #a0eec8;
  --zomp: #56a386;
}

html {
  font-size: 62.5%;
}

body {
  position: relative;
  /* max-width: 1500px; */
  margin: 0 auto;
  font-size: 1.6rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: var(--gunmetal);
}

i {
  margin-right: 1rem;
}