*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ol, ul {
  list-style-type: none;
}

a{
  text-decoration: none;
  color: unset;
}

button {
  border: 0;
  background-color: unset;
  cursor: pointer;
}

table {
border-collapse: collapse;
border-spacing: 0;
}

input {
  border: none;
}

html {
  font-size: 62.5%;
}

body {
  position: relative;
  margin: 0 auto;
  font-size: 1.6rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

i {
  margin-right: 1rem;
}