@import '../../styles/variables';

.header {
  text-align: center;
  padding: 1rem;
  color: #fff;
  background-color: $purple;
  font-family: $header-font;
  font-size: 2rem;
  letter-spacing: 1rem;
}
