.header {
  text-align: center;
  padding: 1rem;
  color: var(--text-primary);
  background-color: var(--bg-secondary);
  font-family: var(--header-font);
  font-size: 2rem;
  letter-spacing: 1rem;
}
